meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css')
title Magic Mirror Server

a(href="/post-it-form") Submit a post-it!
br
a(href="/queue-form") Add to the queue!
